
body {background-color:#292E32;}

@font-face {
	font-family: code;
	src: url('CODELight.otf');
}

@font-face {
	font-family: codebold;
	src: url('CODEBold.otf');
}

@font-face {
	font-family: arialn;
	src: url('ARIALN.TTF');
}

#searchitem {
		
		font-size: 10px;
		color: #FFFFFF;
		font-family: arialn;
}

#searchitembold {
		text-align: center;
		font-size: 12px;
		color: #FFFFFF;
		font-family: arialn;
}

#title {
		text-align: center;
		font-size: 60px;
		color: #FFFFFF;
		font-family: codebold;	
}

#greeter {
		text-align: center;
		font-size: 25px;
		color: #FFFFFF;
		font-family: codebold;	
}

#item {
		text-align: center;
		font-size: 20px;
		color: #FFFFFF;
		font-family: code;	
}

#biggeritem {
		text-align: center;
		font-size: 25px;
		color: #FFFFFF;
		font-family: code;	
}

#itembold {
		text-align: center;
		font-size: 22px;
		color: #FFFFFF;
		font-family: code;	
}

#footer {
		text-align: center;
		font-size: 20px;
		color: #FFFFFF;
		font-family: codebold;	
}

#searchbox {
		text-align: center;
		font-size: 22px;
		color: #FFFFFF;
		font-family: code;	
}

#insertbox {

		font-size: 22px;
		color: #FFFFFF;
		font-family: code;	
}

#wrap {
    float: left;
    position: relative;
    left: 50%;
}

#content {
    float: left;
    position: relative;
    left: -50%;
}

#contentBox {
    margin: 0 auto;
    width: 80%;
}

#contentBox .column {
    float: left;
    margin: 0;
    width: 25%;
}

#rightalign {
	text-align: right;

}

#space { padding-top: 1000px; }

